<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <h1>Danh sách nhiệm vụ</h1>
        </div>
        <div class="col-sm">
            <a href="/vehicle/assign/">
                <button type="button" class="btn btn-outline-success float-right">
                    <i class="bi bi-check2-circle"></i>
                    Phân công nhiệm vụ
                </button>
            </a>
        </div>
    </div>
    <div style="overflow-y:scroll; height:65vh;">
        <table class="table mt-4">
            <thead class="bg-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Mã phương tiện</th>
                    <th scope="col">Tài xế</th>
                    <th scope="col">Mã lộ trình</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each vehicles}}
                <tr>
                    <th scope="row">{{math @index "+" 1}}</th>
                    <th>
                        {{#if this.notYet}}
                            <p class="text-center text-success border border-success rounded-pill" style="width: fit-content; padding: 0px 10px">Chưa diễn ra</p>
                        {{else if this.collecting}}
                            <p class="text-center text-warning border border-warning rounded-pill" style="width: fit-content; padding: 0px 10px">Đang thu gom</p>
                        {{else if this.moving}}
                            <p class="text-center text-danger border border-danger rounded-pill" style="width: fit-content; padding: 0px 10px">Vận chuyển</p>
                        {{else if this.done}}
                            <p class="text-center text-dark border border-dark rounded-pill" style="width: fit-content; padding: 0px 10px">Hoàn thành</p>
                        {{/if}}
                    </th>
                    <th>
                        {{this.plate}}
                    </th>
                    <th>
                        {{this.employee_name}}
                    </th>
                    <th>
                        <div class="text-success">
                            {{#if this.route}}
                                {{this.route_id}}
                            {{else}}
                                Q123
                            {{/if}}
                        </div>
                    </th>
                    <th>
                        <div class="dropdown">
                            <a class="btn hidden-arrow" role="button" type="button" id="dropdownMenuIcon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink" style="box-shadow: 0px 2px 5px rgba(119, 147, 65, 0.3); border-radius: 20px;">
                                <a class="dropdown-item" assign-id="{{this._id}}">Thông tin ca</a>
                                <a class="dropdown-item text-danger" data-toggle="modal" data-target="#confirm-delete-modal" data-delete="{{this._id}}">Xóa</a>
                            </div>
                        </div>
                    </th>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-delete-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <i class="bi bi-person-check-fill" style="font-size:36px;"></i>
                </div>
                <h5 class="text-center mt-3">Bạn có chắc chắn muốn xóa?</h5>
                <div class="form-row mt-3">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-outline-success btn-block" id="btn-delete-assign">Xác nhận</button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Hủy bỏ</button>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<form id="delete-assign-form" method="post"></form>
<script>
    $(function() {
        var deleteId;
        var deleteBtn = document.getElementById('btn-delete-assign');
        var deleteForm = document.forms['delete-assign-form'];

        $('#confirm-delete-modal').on('show.bs.modal', function(event) {
            var btn = $(event.relatedTarget);
            deleteId = btn.data('delete');
        });

        deleteBtn.onclick = function() {
            deleteForm.action = 'vehicle/' + deleteId + '?_method=patch';
            deleteForm.submit();
        }  
    })
</script>